* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #1f1f1f;
    color: white;
}

.hero h1 span {
    color: #ffcc00;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #ffcc00;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
.skills {
    padding: 60px 20px;
    text-align: center;
}

.skills-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-card {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 20px;
    font-weight: bold;
}
footer {
    background: #000;
    color: white;
    padding: 30px;
    text-align: center;
}

.social a {
    margin: 0 10px;
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
}


@media (max-width: 1023px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 767px) {

    nav ul {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #fff;
        flex-direction: column;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
